@keyframes title-color-transition {
  from {
    border-top-color: #356598;
    border-bottom-color: #516f8d;
    border-left-color: #2a6099;
    border-right-color: #2d7283;
    color: #2d7283;
    background-color: #9cb39e;
  }
  to {
    border-top-color: #487c72;
    border-bottom-color: #4c7580;
    border-left-color: #516f8d;
    border-right-color: #576287;
    color: #487c72;
    background-color: #c9c3b8;
  }
}
#main-text {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
#title {
    margin-top: 30px;
	text-align: center;
    border-top-style: double;
    border-bottom-style: double;
    border-left-style: groove;
    border-right-style: groove;
    border-width: 5px;
    border-top-color: #356598;
    border-bottom-color: #356598;
    border-left-color: #516f8d;
    border-right-color: #516f8d;
    animation-name: title-color-transition;
    animation-duration: 3s;
    animation-iteration-count: 9999999999999999;
}
#button-bar {
  margin-top: -35px;
  position: fixed;
  border-width: 3px;
  border-style: inset;
}
#final {
  width: 373px;
}
#subtitle {
  text-align: center;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
p {
  text-align: center;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
button {
  width: 340px;
}
li {
  text-align: left;
  list-style: circle inside;
}
li:hover {
  color: #356598;
  list-style: square outside;
}
#contact-list {
  margin-left: 650px;
}
#about-list {
  margin-left: 600px;
}
